version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  # Maintain dependencies for npm
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      awssdk:
        patterns: *aws-sdk*
 
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
