version: 2
jobs:
  build:
    docker:
      - image: cimg/go:1.17
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}
      - run:
          name: Setup Dependencies
          command: go get
      - run:
          name: Build
          command: go build
      - run:
          name: Test
          command: go test
      - save_cache:
          paths:
            - "/go/pkg/mod"
          key: go-mod-v4-{{ checksum "go.sum" }}
workflows:
  version: 2
  build-workflow:
    jobs:
      - build